
<div class="contStudent">
<button type="button" class="student">Estudiante 1</button>
<button type="button" class="student">Estudiante 2</button>
<button type="button" class="student">Estudiante 3</button>
<button type="button" class="student">Estudiante 4</button>
<button type="button" class="student">Estudiante 5</button>
<button type="button" class="student">Estudiante 6</button>
<button type="button" class="student">Estudiante 7</button>
<button type="button" class="student">Estudiante 8</button>
<button type="button" class="student">Estudiante 9</button>
<button type="button" class="student">Estudiante 10</button>
<button type="button" class="student">Estudiante 11</button>
<button type="button" class="student">Estudiante 12</button>
<button type="button" class="student">Estudiante 13</button>
<button type="button" class="student">Estudiante 14</button>
<button type="button" class="student">Estudiante 15</button>
<button type="button" class="student">Estudiante 16</button>
</div>
